.rcv-toolbar-drop-down {
    display: flex;
    align-items: center;

    background-color: var(--rcv-dropdown-background-color);

    margin-right: 8px;
}

.rcv-toolbar-drop-down-label {
    background-color: var(--rcv-dropdown-background-color);
    color: var(--rcv-dropdown-color);

    margin-right: 8px;
}

.rcv-toolbar-drop-down-selected-label {
    width: var(--rcv-drop-down-width);
    box-sizing: border-box;

    padding: 2px;
    color: var(--rcv-dropdown-selected-text-color);
    background-color: var(--rcv-dropdown-selected-background-color);

    cursor: pointer;
    user-select: none;
}

.rcv-toolbar-drop-down-selection {
    display: grid;
    grid-row-gap: 4px;

    font-size: var(--rcv-font-size);
    font-family: var(--rcv-font-family);

    color: var(--rcv-dropdown-selection-text-color);
    background-color: var(--rcv-dropdown-selection-background-color);

    width: var(--rcv-drop-down-width);
    box-sizing: border-box;

    padding: 4px;
    border: 1px solid var(--rcv-primary-border-color);

    z-index: 100;
}

.rcv-toolbar-drop-down-selection-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px;
    cursor: pointer;

    color: var(--rcv-dropdown-selection-text-color);
    background-color: var(--rcv-dropdown-selection-background-color);
}

.rcv-toolbar-drop-down-selection-item-label {
    color: var(--rcv-dropdown-selection-text-color);
    background-color: var(--rcv-dropdown-selection-background-color);
}

.rcv-toolbar-drop-down-selection-item:hover {
    color: var(--rcv-dropdown-selected-text-color);
    background-color: var(--rcv-dropdown-selected-background-color);
}

.rcv-toolbar-drop-down-selection-item:hover .rcv-toolbar-drop-down-selection-item-label {
    color: var(--rcv-dropdown-selected-text-color);
    background-color: var(--rcv-dropdown-selected-background-color);
}

.rcv-toolbar-drop-down-selection-placement {
    position: fixed;
    margin-top: 24px;
}