.rcv-toolbar-drop-down {
    display: flex;
    align-items: center;

    margin-right: 8px;
}

.rcv-toolbar-drop-down-label {
    margin-right: 8px;
}

.rcv-toolbar-drop-down-selected-label {
    width: var(--rcv-drop-down-width);
    box-sizing: border-box;

    padding: 2px;
    background-color: #eee;

    cursor: pointer;
    user-select: none;
}

.rcv-toolbar-drop-down-selection {
    display: grid;
    grid-row-gap: 4px;

    font-size: var(--rcv-font-size);
    font-family: var(--rcv-font-family);
    background-color: #fff;

    width: var(--rcv-drop-down-width);
    box-sizing: border-box;

    padding: 4px;
    border: 1px solid var(--rcv-primary-border-color);

    z-index: 100;
}

.rcv-toolbar-drop-down-selection-item {
    padding: 4px;
    cursor: pointer;
}

.rcv-toolbar-drop-down-selection-item:hover {
    background-color: #eee;
}

.rcv-toolbar-drop-down-selection-placement {
    position: fixed;
    margin-top: 24px;
}