.rcv-toc {
  display: flex;
  flex-direction: column;
}

.rcv-toc-entry-name {
  flex-shrink: 0;
  font-size: 14px;

  color: var(--rcv-primary-text-color);
  background-color: var(--rcv-primary-background-color);

  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 8px 15px;
  border-bottom: 1px solid var(--rcv-primary-border-color);
  cursor: pointer;
}

.rcv-toc-entry-name.selected {
  border-left: 4px solid var(--rcv-primary-text-color);
  font-weight: bold;
}