.rcw-toc {
  display: flex;
  flex-direction: column;
}

.rcw-toc-entry-name {
  flex-shrink: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 8px 15px;
  border-bottom: 1px solid var(--rcw-primary-border-color);
  color: var(--rcw-primary-text-color);
  cursor: pointer;
}

.rcw-toc-entry-name.selected {
  border-left: 4px solid var(--rcw-primary-text-color);
  font-weight: bold;
}