.rcv-grid-layout {
    display: grid;
    grid-gap: 20px;
    background-color: var(--rcv-preview-background-color);
}

.rcv-grid-layout .rcv-demo-layout-item {
    display: flex;
    flex-direction: column;
}

.rcv-grid-layout .rcv-demo-layout-item-title {
    font-family: var(--rcv-font-family);
    font-size: 12px;

    padding-bottom: 2px;
    margin-bottom: 6px;
    border-bottom: solid 1px #ddd;
    cursor: pointer;
}

.rcv-grid-layout .rcv-demo-layout-item-title.selected {
    font-weight: bold;
}

