.rcw-grid-layout {
    display: grid;
    grid-gap: 20px;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    > .grid-item {
        display: flex;
        flex-direction: column;

        > .title {
            font-size: 12px;
            padding-bottom: 2px;
            margin-bottom: 6px;
            border-bottom: solid 1px #ddd;
            cursor: pointer;
        }

        > .title.selected {
            font-weight: bold;
        }

        > .instance {
        }
    }
}
