.rcw-label-instance-table-layout {
    display: flex;
    flex-direction: column;

    > .table-item {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
        padding-bottom: 20px;

        > .title {
            font-family: var(--rcw-font-family);

            padding-right: 10px;
            margin-right: 10px;
            flex: 0 0 200px;
            text-align: right;
            cursor: pointer;
        }

        > .title.selected {
            font-weight: bold;
        }
    }
}
