.rcv-label-instance-table-layout {
    display: flex;
    flex-direction: column;
}

.rcv-label-instance-table-layout .rcv-demo-layout-item {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    padding-bottom: 20px;
}

.rcv-label-instance-table-layout .rcv-demo-layout-item-title {
    font-family: var(--rcv-font-family);

    padding-right: 10px;
    margin-right: 10px;
    flex: 0 0 200px;
    text-align: right;
    cursor: pointer;
}

.rcv-label-instance-table-layout .rcv-demo-layout-item-title.selected {
    font-weight: bold;
}
