.rcw-tabs-layout {
    .tabs-header {
        display: flex;
        margin-bottom: 5px;

        .tab-header {
            display: flex;
            padding: 10px 20px 10px 10px;
            border-bottom: 2px solid #888;
            cursor: pointer;
        }

        .tab-header.selected {
            font-weight: bold;
            border-bottom: 2px solid #000;
        }
    }
}
