.tabs-layout .tabs-header {
    display: flex;
    margin-bottom: 5px;
}

.tabs-layout .tabs-header .tab-header {
    display: flex;
    padding: 10px 20px 10px 10px;
    border-bottom: 2px solid #888;
    cursor: pointer;
}

.tabs-layout .tabs-header .tab-header.selected {
    font-weight: bold;
    border-bottom: 2px solid #000;
}