:root {
  --rcv-font-family: Verdana, serif;
  --rcv-font-size: 14px;
  --rcv-primary-text-color: #555;
  --rcv-primary-background-color: #f2f2f2;
  --rcv-primary-border-color: #ddd;
  --rcv-secondary-text-color: #313149;
  --rcv-secondary-border-color: #c8c4c1;
  --rcv-secondary-background-color: #747780;
  --rcv-selected-background-color: #313149;
  --rcv-attention-text-color: #e38a59;
  --rcv-drop-down-width: 200px;
}

body {
  margin: 0;
}

.rcv-component-viewer {
  display: grid;

  grid-template-columns: 280px 1fr auto;
  grid-template-rows: 28px 34px 1fr;

  grid-template-areas:
          "registry-selection registry-selection tool-bar"
          "search-box preview preview"
          "toc preview preview";

  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
}

.rcv-registry-selection-panel {
  grid-area: registry-selection;

  font-size: var(--rcv-font-size);
  font-family: var(--rcv-font-family);

  border-bottom: 1px var(--rcv-secondary-border-color) solid;
}

.rcv-toolbar-panel {
  grid-area: tool-bar;

  font-size: var(--rcv-font-size);
  font-family: var(--rcv-font-family);

  border-bottom: 1px var(--rcv-secondary-border-color) solid;
}

.rcv-search-box {
  grid-area: search-box;

  font-size: var(--rcv-font-size);
  font-family: var(--rcv-font-family);

  border-right: 1px solid var(--rcv-primary-border-color);
}

.rcv-search-box-input {
  width: 100%;
  height: 34px;
  box-sizing: border-box;

  padding: 10px 4px 10px 15px;
  margin: 0;

  border: none;
  outline: none;
}

.rcv-toc-panel {
  grid-area: toc;

  font-size: var(--rcv-font-size);
  font-family: var(--rcv-font-family);

  background-color: var(--rcv-primary-background-color);
  border-right: 1px solid var(--rcv-primary-border-color);

  overflow: auto;
}

.rcv-preview {
  grid-area: preview;
  margin: 10px 10px 10px 20px;

  overflow: auto;
}

.rcv-help {
  grid-area: preview;
  justify-self: right;

  z-index: 1000;
}