:root {
  --rcw-primary-text-color: #555;
  --rcw-primary-background-color: #f2f2f2;
  --rcw-primary-border-color: #ddd;
  --rcw-secondary-text-color: #313149;
  --rcw-secondary-border-color: #c8c4c1;
  --rcw-secondary-background-color: #747780;
  --rcw-selected-background-color: #313149;
  --rcw-attention-text-color: #e38a59;
}

body {
  margin: 0;
}

.rcw-components-viewer {
  font-size: 14px;
  font-family: Verdana, serif;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;

  .toc-panel-and-preview {
    display: flex;
    flex: 1;
  }

  .toc-panel {
    display: flex;
    flex: 0 0 280px;
    flex-direction: column;

    border-right: 1px solid var(--rcw-primary-border-color);

    .search-box input {
      width: 100%;
      height: 34px;
      box-sizing: border-box;

      padding: 10px 4px 10px 15px;
      margin: 0;

      border: none;
      outline: none;
    }
  }

  .preview {
    flex: 1;
    margin: 10px 10px 10px 20px;
  }
}