.labeled-instance {
    margin-bottom: 20px;
    margin-right: 20px;
}

.labeled-instance .description {
    font-weight: bold;
    padding-bottom: 4px;
    margin-bottom: 4px;
    border-bottom: solid 1px #ddd;
}