.rcw-registry-selection {
  display: flex;
  align-items: center;
  height: 100%;

  > .tab {
    color: var(--rcw-secondary-text-color);
    padding: 0 15px;

    cursor: pointer;
  }

  > .tab.selected {
    color: var(--rcw-attention-text-color);
  }
}
