.rcw-registry-selection {
  display: flex;
  align-items: center;
  height: 100%;
}

.rcw-registry-selection-tab {
  color: var(--rcw-secondary-text-color);
  padding: 0 15px;

  cursor: pointer;
}

.rcw-registry-selection-tab.selected {
  color: var(--rcw-attention-text-color);
}
