.rcv-registry-selection {
  display: flex;
  align-items: center;
  height: 100%;
}

.rcv-registry-selection-tab {
  color: var(--rcv-secondary-text-color);
  padding: 0 15px;

  cursor: pointer;
}

.rcv-registry-selection-tab.selected {
  color: var(--rcv-attention-text-color);
}
